.THIS.errorStyle {
    color: #FF0000;
    font-size: large;
}

.THIS.savedStyle {
	color: #32CD32;
    font-size: large;
}

.THIS.hidden-table:hover {
     background-color: white !important;
 }

/*.THIS.cSalesOrderDinamicTableShellComponent{
    overflow: auto;
    overflow-x: auto;
}*/