.THIS.errorRequiredStyle {
    border-style: solid;
    border-color:#FF0000;
}

.THIS.hidden-table:hover {
 	background-color: white !important;
 }

.THIS .custom-lookup-label-hide label.slds-form-element__label{display: none;}

.THIS .leftPaddingClass{width: 15rem;}

.THIS .table-input-textarea-width{width: 10rem;}

.THIS .table-input-date-width{width: 8rem;}