<!--
 * This is a EmailDirectBillVendorPos page for EmailDirectBillVendorPosCtrl
 * 
 *
 * @version     2019-02-21  BTG
 *              
-->

<apex:page standardController="PO__c" recordSetVar="poName" extensions="EmailDirectBillVendorPosCtrl" action="{!doSubmit}">

   <apex:outputPanel rendered="{! If(erroMsg  =='error' ,true,false) }" >
         Please select at least one record
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{! If(erroMsg  =='success' ,true,false) }" >
        Records Processed Succefully!
        </apex:outputPanel>
 
 
</apex:page>