<apex:page controller="redirectToCommunityAccountController" action="{!redirectCommunityAccount}">
    <apex:form >
        <apex:pageMessages />
        <apex:pageBlock >
            <p>
                <apex:commandLink action="{!redirectCommunityAccount}" value="Go To Account"/>
            </p>
        </apex:pageBlock>
    </apex:form>
</apex:page>