<apex:page standardController="Store_Order__c" sidebar="false" showHeader="true">
  <script src="https://code.jquery.com/jquery-1.10.2.js" />
  <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
  <script type="text/javascript">
      $(document).ready(function(){
         var url = '/apex/StoreOrder?id={!Store_Order__c.Id}';
         if( (typeof sforce != undefined) && (sforce != null) ) {
          // Salesforce1 navigation
          sforce.one.navigateToURL(url);
        } 
    
      });
      
     
  </script>
</apex:page>