<!--
 * This is a Smr_EventItems page for SMR_EventItemCntrl
 * 
 *
 * @version     2019-05-07  BTG
 *              
-->

<apex:page standardController="Event__c" recordSetVar="poName" extensions="SMR_EventItemCntrl" action="{!doSubmit}">

   <apex:outputPanel rendered="{! If(erroMsg  =='error' ,true,false) }" >
         Please select at least one record
        </apex:outputPanel>
        
        <apex:outputPanel rendered="{! If(erroMsg  =='success' ,true,false) }" >
        Records Processed Succefully!
        </apex:outputPanel>
 
 
</apex:page>