.THIS.colorVendorHeader {
	background-color: #fafaf9;
    height: 50px;
    border-top: none !important;
    margin: 0px;
}
.THIS.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transform: translateY(-50%);
}
.THIS.inputSize {
	width: 150px;;
}
.THIS.tbody.tr:hover {
     background:#ffffff;
 }